@*<!DOCTYPE html>*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Jewellry online Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <title>@ViewBag.Title - Hook Me</title>
    
   
    @RenderSection("scripts", required: false)
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.min.js")"></script>
    @RenderSection("detail", required:false)
    @RenderSection("s", required: false)
    @RenderSection("alert", required: false)
   @* <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>*@

    @*For PAssword*@ 
    <link rel="STYLESHEET" type="text/css" href="\Content\pwdwidget.css" />
    
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    
    <link href="/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="container">
            <ul>
                        @if (Session["userName"] != null )
                       {
                            <li>@Html.ActionLink("Sign Out", "SignOut", "Account") <span>|</span></li>
                       }
                       @if (Session["userName"] == null )
                       {
                            <li>@Html.ActionLink("LOGIN MY ACCOUNT", "Login", "Account") <span>|</span></li>
                           <li>@Html.ActionLink("Register", "Register", "Account") <span>|</span></li>
                       }
                
                <li>@Html.ActionLink("Contact Us", "Contact", "Home") </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="container">
        <div class="header-top">
            <div class="header-top-in">
                <div class="top-header">
                    <div class="logo">
                       
                        <img src="/Content/Images/logo.jpg" alt=" ">
                    </div>
                    <div class="left-head">
                        <img class="img-responsive" src="/Content/Images/stone.png" alt=" ">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="top-header-in">
                   
                    <div class="shop">
                        
                       @if (Session["userName"] != null && String.Compare(Session["userName"].ToString(),"Haleema",true)!=0)
                       {
                            <a href="#">@Html.ActionLink("Checkout", "Checkout", "Customer")
                                </a><i></i>
                       }
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
          
                        
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year</p>
                </footer>
            </div>

           
           
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jquery")
            <div class="footer">
                <div class="footer-top">

                    <ul class="footer-bottom">
                       
                        <li class="active">@Html.ActionLink("Home", "Index", "Home") <span>|</span></li>
                        <li>@Html.ActionLink("About Us", "About", "Home") <span>|</span></li>
                        <li>@Html.ActionLink("PRODUCTS", "Product", "Product") <span>|</span></li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home") <span>|</span></li>
                    </ul>
                    
                   
                    
                    
                    <div class="clearfix"> </div>
                </div>
                <div class="bottom-footer-in">
                    <a href="index.html"><img src="/Content/Images/logo-1.png" alt=" "></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
